# Unit 1

In [3]:
a = 10
b =20
c = a+b
print(c)

30

In [7]:
ca10h =10
# 10kh= 50
DEF = True
print(type(DEF))

<class 'bool'>

In [27]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [32]:
bool(1)

True

In [15]:
string = """abcdefg
hijk
lmnop
qr st uvwxyz"""
string

# print(string)

"'abcdefg\nhijk\nlmnop\nqr st uvwxyz"

In [24]:
x = 36e3
y = 52262.2
z = -525452544.3
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [27]:
a = 0b1111
print(a)

a = 0o1111
print(a)

a = 0x1111
print(a)

15
585
4369

In [33]:
bin(15)
bin(0o11)
bin(0x11)

'0b10001'

In [38]:
oct(15)
oct(0x11)
oct(0b11)

'0o17'

In [41]:
print(hex(15))
print(hex(0b11))
print(hex(0o11))

0xf
0x3
0x9

# Sequence type (tuple,list)

In [50]:
list1 = ["apple","banana", "cherry"]
print(list1)

list2=["apple,",2,1,True,False]
print(list2)

print(type(list1))
print(type(list2))

list1[0] = "strawberry"
print(list1)

#changable, mutable , allowed duplicates , indexed

#TUPLE

my_type = ("apple" ,"banana" ,"cherry")
print(my_type)

my_type1= ("apple" ,1,3)
print(my_type1)


print(type(my_type))
print(type(my_type1))


#not changable , inmutable , allowed duplicates , indexed
# my_type[0] = "strawberry"

# print(my_type)

['apple', 'banana', 'cherry']
['apple,', 2, 1, True, False]
<class 'list'>
<class 'list'>
['strawberry', 'banana', 'cherry']
('apple', 'banana', 'cherry')
('apple', 1, 3)
<class 'tuple'>
<class 'tuple'>

# Mapping type : dict

In [56]:
#Orderd , changeable , allowed duplicates (but it overrides, last one will be the final one) 
d = {10:'lucky' , 20:'Aman' , 30:'Dhairya'}
print(d[10])
print(d[20])
print(d[30])

d[10] = 'Manasvi'
print(d[10])

Aman
Aman
Dhairya
Manasvi

# Set type

In [1]:
#it only print uniqe value it will not print duplicates , unorder, unindexed
x = {1,2,3,4,5,2}
print(x)
 
y = {'banana','apple','banana','cherry'}
print(y)

{1, 2, 3, 4, 5}
{'banana', 'cherry', 'apple'}

# Frozenset

In [75]:
list = ['apple','banana','vherryu']
y = frozenset(list)
print(y)

frozenset({'banana', 'apple', 'vherryu'})
{'allpam'}

# Boolean type

In [86]:
print(bool(0))
print(bool(1))
print(bool("apple"))
print(bool(""))
print(20 > 8)
print(20<8)
print(20 == 8)

False
True
True
False
True
False
False

# Reserved keyword 
  -33/35
  
  True      | while    |raise 
False     | del
None      | with      many more...
and       | for
or        | in
not       | break
is        | continue
if        | return
elif      | yield
else      | try
nonlocal  | except
lambada   | finally

# Variables

In [87]:
x = 7
y = str(7)
z= float(7)

print(x)
print(y)
print(z)

7
7
7.0

In [93]:
 a= 1,2,3,4
print(type(a))


a,b,c,d = 1,2,3,4
print(a)

<class 'tuple'>
1

In [97]:
s = 20
print("Variable : " ,s)

Variable :  20

In [98]:
a = 10
b = '20'

a*b

'20202020202020202020'

# Global variable Vs Local variable

In [110]:
a = "python"

def test():
    global a
    a = "java"
    print(a)

test()
print(a)

java
java

# Reading user input

In [113]:
 x = int(input("Ent er Data : "))
 print(x)

Enter Data : 5
5

In [2]:
x = int(input("Enter 1st number : "))
y = int(input("Enter 2st number : "))
print("sum : " , x+y)

Enter 1st number : 5
Enter 2st number : 4
sum :  9

# Typecasting

In [8]:
int(12.96)
print(int(True))
print(int(False))
print(int(" 10"))
##print(int("10.5"))
print(int(0b1111))

1
0
10
15

In [12]:
print(float(10))
print(float(True))
print(float(False))
print(float(" 10"))
print(float("10.5"))
##print(float("ten"))
print(float(0b1111))

10.0
1.0
0.0
10.0
10.5
15.0

In [18]:
print(bool(0))
print(bool(1))
print(bool(10))
print(bool(10.5))
print(bool(0.178))
print(bool(0.0))
print(bool("True"))
print(bool("False"))
print(bool(""))

False
True
True
True
True
False
True
True
False

In [16]:
print(str(10))
print(str(1.0))
print(str(True))
print(str(False))

10
1.0
True
False

# Arithmetic operators

+ --> Addition(str -> concatenation)
- --> Subtraction
* --> Multiplication(str --> String multiplication or repetition)
/ --> Divison(ans will be in float)
% --> Modulus 
// --> Floor division (int ans)
** --> Power or exponent

In [23]:
x = int(input("Enter 1st number: "))
y = int(input("Enter 2nd number: "))
print("Addition : " , x+y)
print("Sub : " , x-y)
print("Multiplication : " , x*y)
print("Divide : " , x/y)
print("Modulus : " , x%y)
print("floor division : " , x//y)
print("powers : " , x**y)

Enter 1st number: 10
Enter 2nd number: 5
Addition :  15
Sub :  5
Multiplication :  50
Divide :  2.0
Modulus :  0
floor division :  2
powers :  100000

# Python oprators
   -- comparison or relational oprators

> --> Greater than
< --> Less than3
>= --> Greater or equal
<= --> less or equal
== --> equals to
!= --> not equals to

In [27]:
a = (input("Enter 1st num : "))
b = (input("Enter 2nd num : "))

print("a > b is : " , a>b)
print("a < b is : " , a<b)
print("a >= b is : " , a>=b)
print("a <= b is : " , a<=b)
print("a == b is : " , a==b)
print("a != b is : " , a!=b)

Enter 1st num : arman
Enter 2nd num : aryan
a > b is :  False
a < b is :  True
a >= b is :  False
a <= b is :  True
a == b is :  False
a != b is :  True

# Logical oprators( and, or , not)

1. Boolean type behaviour
2. non-boolean type behaviour

0 means false
non-zero true

1. x and y --> if x evaluates to false then result is x otherwise result is y.
2. x or y --> same like but ans is not in bool the true or false final ans will be

# Ternary oprators 
    Syntax : x = first value if condition else second value

In [31]:
a,b = 30,40

x = 30 if a<b else 40
print(x)

30

# Assignment operators
    x =  10
    x += 10
    x -= 10
    x *= 10
    x /= 10
    x %= 10
    x **=10
    x //= 10

In [32]:
x = 10
x +=20
print(x)

30

# Membership Operators
    
    in --> Returns True if given object present in specific collection
    not in --> if not present

In [35]:
x = " Hello learning python is very easy "
print("l" in x)
print("m" in x)

True
False

write a programm to find the area of a tringle

In [38]:
x = int(input("Enter height :"))
y = int(input("Enter width : "))

print("Area : ",((1/2)*(x*y)))

Enter height :5
Enter width : 5
Area :  12.5

write a programm to find area of a circle

In [40]:
import math
p = math.pi
x = int(input("Enter Redius :"))
print("Area : ", (p*x*x))

Enter Redius :2
Area :  12.566370614359172

Write the program to convert celcius  & farenheit

In [46]:
x = int(input("Enter Celcius :"))
y = int(input("Enter Farenhit :"))

print("Celcius to Farenhit : " , (x*9/5 + 32))
print("Farenhit to Celcius : " , ((y - 32) * (5/9)))

Enter Celcius :25
Enter Farenhit :77
Celcius to Farenhit :  77.0
Farenhit to Celcius :  25.0

write a program to convert days into year month day

In [61]:
x= int(input("Enter total days : "))

year = x // 365
month = (x % 365) //30
day = ((x % 365) % 30)

print(year , "Year", month ,"month" , day , "day")

Enter total days : 427
1 Year 2 month 2 day

In [1]:
a = 20
b = 10
c = 30

print(a>b and a>c)
print(a>b or a>c)
print(not a>b)
print(not a>c)

False
True
False
True

# Idenity operator

In [8]:
x = 5
y = 5.3
z = 5

print(type(x) is int)
print(type(x) is not int)
print(x is y)

True
False
False

In [5]:
print((5**3)**2*5/True)

78125.0

In [13]:
print("1" in "123")
print("1" in "123" and "False" or True)
print(True and "False")
print("False" or True)

True
False
False
False

In [18]:
# print(5 and False or 3/0)
print(5 and True or 3/0)

True

In [19]:
print(7*5**2/True*False)

0.0

wt  that given number is positive or negative using conditional oprator

In [21]:
x = int(input("Enter number : "))
y= "Positive" if x >= 0 else "Negative"

print(y)

Enter number : -2
Negative

In [25]:
# wt to odd even

x = int(input("Enter number : "))
y= "Even" if x%2 == 0 else "Odd"
print(y)

Enter number : 24
Even

In [29]:
#wt a python p to find the number of notes againts a given amount

x = int(input("Enter number : "))
print( "500" , (x // 500) )
print("200" ,((x%500)//200)) 
print("100" , ((x%500%200) //100)) 
print("50 " ,((x%500%200 % 100) //50))
print("20" ,((x%500%200 % 100 %50) //20) ) 
print("10" ,((x%500%200 % 100 %50 % 20) //10))

Enter number : 880
500 1
200 1
100 1
50  1
20 1
10 1